{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination justify-content-center mb-4">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first px-2">
                    <a href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="first disabled px-2">
                    <span disabled>First</span>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev px-2">
                    <a href="{{ posts.pagination.prev.link }}">Previous</a>
                </li>
            {% else %}
                <li class="prev disabled px-2">
                    <span disabled>Previous</span>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="px-2">
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current px-2">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next px-2">
                    <a href="{{ posts.pagination.next.link }}">Next</a>
                </li>
            {% else %}
                <li class="next disabled px-2">
                    <span disabled>Next</span>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last px-2">
                    <a href="{{ posts.pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="last disabled px-2">
                    <span disabled>Last</span>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}