{#
 *
 * Template part for displaying all posts
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package Bootstrap4
 *
#}
<article id="post-{{ post.ID }}" class="{{ post.class }}">
    <!-- Blog Post -->
    <div class="card mb-4">
        {% if post.thumbnail %}
            <!-- Preview Image -->
            <img src="{{ post.thumbnail.src('post-thumbnails') }}" srcset="{{ post.thumbnail.srcset }}" sizes="{{ post.thumbnail.img_sizes }}" class="img-fuild rounded wp-post-image" loading="lazy" />
        {% endif %}

        <div class="card-body">
            <!-- Title -->
            {% if is_single %}
                <h2 class="entry-title card-title">{{ post.title }}</h2>
            {% else %}
                <h2 class="entry-title card-title"><a href="{{ post.link }}" rel="bookmark">{{ post.title }}</a></h2>
            {% endif %}
            <p class="card-text">{{ post.preview.length(30).read_more('Read More') }} {# This is the short post content #}</p>
            <a href="{{ post.link }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            <!-- Date/Time -->
            Posted on {{ post.date|date('F d, Y') }}
            by
            <!-- Author -->
            <a href="{{ post.author.path }}">{{ post.author.name }}</a>
        </div>
    </div>

</article>
